/* common style */
.app-container {
  width: 100%;
  height: 100vh;
}

/* dark theme style */
.app-container.theme-dark {
  background-color: #000;
}

/* light theme style */
.app-container.theme-light {
  background-color: #e7e7e7;
}
